@using System.Data;
<!DOCTYPE html>
<asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" />
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TPMH Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="#">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/css/lib/bootstrap.min.css" type="text/css" rel="stylesheet">
    <!-- Swipe core CSS -->
    <link href="~/Content/css/swipe.min.css" type="text/css" rel="stylesheet">
    <!-- Favicon -->
    <link href="~/Content/img/favicon.png" type="image/png" rel="icon">

</head>
<body>
    <div>

    </div>
    <!-- Layout -->
    <div class="layout">
        <!-- Start of Navigation -->
        <nav class="navigation">
            <div class="container">
                <a href="#" class="logo" rel="home"><img src="~/Content/img/dataimage.png" alt="logo"></a>
                <ul class="nav" role="tablist">
                    <li><a href="#conversations" class="active" data-toggle="tab" role="tab" aria-controls="conversations" aria-selected="true"><i data-eva="message-square" data-eva-animation="pulse"></i></a></li>
                    <li><a href="#friends" data-toggle="tab" role="tab" aria-controls="friends" aria-selected="false"><i data-eva="people" data-eva-animation="pulse"></i></a></li>
                    <li><a href="#notifications" data-toggle="tab" role="tab" aria-controls="notifications" aria-selected="false"><i data-eva="bell" data-eva-animation="pulse"></i></a></li>
                    <li><a href="#settings" data-toggle="tab" role="tab" aria-controls="settings" aria-selected="false"><i data-eva="settings" data-eva-animation="pulse"></i></a></li>
                    <li><button type="button" class="btn"><img src="~/Content/img/signout.png" alt="avatar"</button></li>
                </ul>
            </div>
        </nav>
        <!-- End of Navigation -->
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="container">
                <div class="tab-content">
                    <!-- Start of Discussions -->
                    <div class="tab-pane fade show active" id="conversations" role="tabpanel">
                        <div class="top">
                            <form>
                                <input type="search" class="form-control" placeholder="Tìm kiếm">
                                <button type="submit" class="btn prepend"><i data-eva="search"></i></button>
                            </form>
                            <ul class="nav" role="tablist">
                                <li><a class="filter-btn   active" data-toggle="tab" data-filter="groups">Nhóm</a></li>
                            </ul>
                        </div>
                        @RenderBody()
                    </div>
                    <!-- End of Discussions -->
                    <!-- Start of Friends -->
                    <div class="tab-pane fade" id="friends" role="tabpanel">
                        <div class="top">
                            <form>
                                <input type="search" class="form-control" placeholder="Search">
                                <button type="submit" class="btn prepend"><i data-eva="search"></i></button>
                            </form>
                        </div>
                        <div class="middle">
                            <h4>Bạn bè</h4>
                            <hr>
                            <ul class="users">
                                <li>
                                    <a href="#">
                                        <div class="status online"><img src="~/Content/img/avatars/avatar-male-1.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Ninh Thái Phan</h5>
                                            <span>Ninh Bình, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status offline"><img src="~/Content/img/avatars/avatar-male-2.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Nguyễn Minh Hiếu</h5>
                                            <span>Thái Bình, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status online"><img src="~/Content/img/avatars/avatar-male-3.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Triệu Quang Minh</h5>
                                            <span>Hà Nội, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status offline"><img src="~/Content/img/avatars/avatar-male-4.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Lê Sỹ Tùng</h5>
                                            <span>Thanh Hóa, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status offline"><img src="~/Content/img/avatars/avatar-male-5.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Nguyễn Nam</h5>
                                            <span>Hà Nam, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status online"><img src="~/Content/img/avatars/avatar-male-6.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Lê Huy</h5>
                                            <span>Hà Nam, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status offline"><img src="~/Content/img/avatars/avatar-female-1.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Hoàng Thủy</h5>
                                            <span>Thanh Hóa, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status offline"><img src="~/Content/img/avatars/avatar-female-2.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Lan Hương</h5>
                                            <span>Ninh Bình, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="status online"><img src="~/Content/img/avatars/avatar-female-3.jpg" alt="avatar"><i data-eva="radio-button-on"></i></div>
                                        <div class="content">
                                            <h5>Hà Phương</h5>
                                            <span>Nghệ An, VN</span>
                                        </div>
                                        <div class="icon"><i data-eva="person"></i></div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Xong phần bạn bè -->
                    <!-- Thông báo -->
                    <div class="tab-pane fade" id="notifications" role="tabpanel">
                        <div class="top">
                            <form>
                                <input type="search" class="form-control" placeholder="Tìm kiếm">
                                <button type="submit" class="btn prepend"><i data-eva="search"></i></button>
                            </form>
                        </div>
                        <div class="middle">
                            <h4>Thông báo</h4>
                            <hr>
                            <ul class="notifications">
                                <li>
                                    <div class="round"><i data-eva="person-done"></i></div>
                                    <p><strong>Minh Hiếu</strong> đã tham gia nhóm <strong>Squad Ghouls</strong>.</p>
                                </li>
                                <li>
                                    <div class="round"><i data-eva="lock"></i></div>
                                    <p>Bạn cần thay đổi mật khẩu để tăng bảo mật.</p>
                                </li>
                                <li>
                                    <div class="round"><i data-eva="attach"></i></div>
                                    <p><strong>Phan</strong> đã gửi một file đính kèm: <strong>workbox.js</strong>.</p>
                                </li>
                                <li>
                                    <div class="icon round"><i data-eva="gift"></i></div>
                                    <p>Hôm nay là sinh nhật của <strong>Hoàng Thủy</strong>. Hãy chúc mừng!</p>
                                </li>
                                <li>
                                    <div class="round"><i data-eva="person"></i></div>
                                    <p><strong>Hà Phương</strong> đã chấp nhận lời mời kết bạn của bạn.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Kết thúc phần Thông báo-->
                    <!-- Tùy chọn -->
                    <div class="settings tab-pane fade" id="settings" role="tabpanel">
                        <div class="user">
                            <label>
                                <input type="file">
                                <img src="~/Content/img/avatars/avatar-male-1.jpg" alt="avatar">
                            </label>
                            <div class="content">
                                <h5>Hoàng Tùng</h5>
                                <span>Thanh Hóa, VN</span>
                            </div>
                        </div>
                        <h4>Tùy chọn</h4>
                        <ul id="preferences">
                            <!-- Bảo mật -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#account" aria-controls="account">
                                    <div class="title">
                                        <h5>Tài Khoản</h5>
                                        <p>Cập nhật thông tin cá nhân của bạn.</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="account" data-parent="#preferences">
                                    <div class="inside">
                                        <form class="account">
                                            <div class="form-row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Họ</label>
                                                        <input type="text" class="form-control" placeholder="Họ" value="Hoàng">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Tên</label>
                                                        <input type="text" class="form-control" placeholder="Tên" value="Tùng">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Địa chỉ Email</label>
                                                <input type="email" class="form-control" placeholder="Địa chỉ email của bạn" value="tungtung@gmail.com">
                                            </div>
                                            <div class="form-group">
                                                <label>Ngày Sinh</label>
                                                <input type="date" class="form-control" placeholder="Ngày sinh của bạn" value="20/10/1997">
                                            </div>
                                            <div class="form-group">
                                                <label>Mật khẩu</label>
                                                <input type="password" class="form-control" placeholder="Nhập mật khẩu của bạn" value="3921847634095723">
                                            </div>
                                            <div class="form-group">
                                                <label>Mô tả</label>
                                                <textarea class="form-control" placeholder="Giới thiệu một chút về bản thân bạn"></textarea>
                                            </div>
                                            <button type="submit" class="btn primary">Lưu</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc tài khoản -->
                            <!-- Bảo mật -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#privacy" aria-controls="privacy">
                                    <div class="title">
                                        <h5>Bảo mật</h5>
                                        <p>Bảo vệ tài khoản của bạn</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="privacy" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <div class="headline">
                                                    <h5>Chế độ an toàn</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Lọc những tin nhắn nghi ngờ hoặc có nội dung không phù hợp</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Lịch sử </h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Lưu lại lịch sử các cuộc trò chuyện</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Máy ảnh</h5>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Cho phép truy cập máy ảnh trên thiết bị của bạn</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Micro</h5>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Cho phép truy cập micro trên thiết bị của bạn</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc bảo mật -->
                            <!-- Start of Notifications -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#alerts" aria-controls="alerts">
                                    <div class="title">
                                        <h5>Thông báo</h5>
                                        <p>Tùy chọn cài đặt cho thông báo.</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="alerts" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <div class="headline">
                                                    <h5>Thông báo đẩy</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Hiển thi thông báo biểu ngữ</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Rung</h5>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Rung khi nhận được tin nhắn ngoài cuộc trò chuyện đang diễn ra</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Âm thanh</h5>
                                                    <label class="switch">
                                                        <input type="checkbox" checked>
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Âm thanh thông báo khi nhận được tin nhắn mới ngoài cuộc trò chuyện đang diễn ra</p>
                                            </li>
                                            <li>
                                                <div class="headline">
                                                    <h5>Chế độ ban đêm</h5>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round"></span>
                                                    </label>
                                                </div>
                                                <p>Chuyển sang màu tối cho sử dụng vào ban đêm.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc thông báo -->
                            <!-- Tích hợp -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#integrations" aria-controls="integrations">
                                    <div class="title">
                                        <h5>Tích hợp</h5>
                                        <p>Đồng bộ mạng xã hội</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="integrations" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="integrations">
                                            <li>
                                                <button class="btn round"><i data-eva="google"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Google</h5>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Đọc, ghi, chỉnh sửa</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="facebook"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Facebook</h5>
                                                        <label class="switch">
                                                            <input type="checkbox" checked>
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Đọc, ghi, chỉnh sửa</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="twitter"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>Twitter</h5>
                                                        <label class="switch">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Không cho phép</span>
                                                </div>
                                            </li>
                                            <li>
                                                <button class="btn round"><i data-eva="linkedin"></i></button>
                                                <div class="content">
                                                    <div class="headline">
                                                        <h5>LinkedIn</h5>
                                                        <label class="switch">
                                                            <input type="checkbox">
                                                            <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                    <span>Không cho phép</span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Kết thúc tích hợp -->
                            <!-- Giao diện -->
                            <li>
                                <a href="#" class="headline" data-toggle="collapse" aria-expanded="false" data-target="#appearance" aria-controls="appearance">
                                    <div class="title">
                                        <h5>Giao diện</h5>
                                        <p>Tùy chỉnh giao diện cho TPMH Chat</p>
                                    </div>
                                    <i data-eva="arrow-ios-forward"></i>
                                    <i data-eva="arrow-ios-downward"></i>
                                </a>
                                <div class="content collapse" id="appearance" data-parent="#preferences">
                                    <div class="inside">
                                        <ul class="options">
                                            <li>
                                                <div class="headline">
                                                    <h5>Chế độ ban đêm</h5>
                                                    <label class="switch">
                                                        <input type="checkbox">
                                                        <span class="slider round mode"></span>
                                                    </label>
                                                </div>
                                                <p>Chuyển sang màu tối cho sử dụng vào ban đêm.</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <!-- Két thúc giao diện -->
                        </ul>
                    </div>
                    <!-- Kết thúc tùy chọn -->
                </div>
            </div>
        </div>
        <!-- Kết thúc Sidebar -->
        <!--  Chat -->
        <div class="chat">
            <div class="tab-content">
                @{Html.RenderPartial("~/Views/Partial/ChatRoomPartialPage1.cshtml");}
            </div>
        </div>
        <!-- End of Chat -->
        <!-- Start of Compose -->
        <div class="modal fade" id="compose" tabindex="-1" role="dialog" aria-labelledby="compose" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>Thêm phòng</h5>
                        <button type="button" class="btn round" data-dismiss="modal" aria-label="Close">
                            <i data-eva="close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <ul class="nav" role="tablist">
                            <li><a href="#details" class="active" data-toggle="tab" role="tab" aria-controls="details" aria-selected="true">Chi tiết</a></li>
                        </ul>
                        <div class="tab-content">
                            <!-- Start of Details -->
                            <div class="details tab-pane fade show active" id="details" role="tabpanel">
                                <form>
                                    <div class="form-group">
                                        <label>Tên phòng</label>
                                        <input type="text" class="form-control" placeholder="Tên nhóm?">
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        <textarea class="form-control" placeholder="Nhập mật khẩu"></textarea>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn primary">Thêm phòng</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Compose -->
    </div>
    <!-- Layout -->
    <script src="~/Content/js/vendor/jquery-slim.min.js"></script>
    <script src="~/Content/js/vendor/popper.min.js"></script>
    <script src="~/Content/js/vendor/feather.min.js"></script>
    <script src="~/Content/js/vendor/eva.min.js"></script>
    <script src="~/Content/js/vendor/jquery.js"></script>
    <script src="~/Content/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/js/swipe.min.js"></script>
    <script src="~/Content/js/message.js">


    </script>
</body>
</html>																																																										